body{
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height:250px;
    background-color: aquamarine;
    text-align: center;
    box-shadow: 0px 1px 12px aquamarine;
    border-radius: 10px;
}

.field-section{
    width: 300px;
    height: 100px;
}

legend{
    color: rgb(23, 85, 231);
    text-align: left;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    border: none;
    background-color: white;
    width: 150px;
    height: 25px;
    border-radius: 10px;
}
#button{
    border: none;
    border-radius: 10px;
    height: 25px;
    width: 100px;
}

/* .button-reset{
    margin: 10px;
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
} */