body{
    height: 100vh;
    background-color:aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 400px;
    height:400px;
}

.field-section{
    width: 300px;
    height: 100px;
}