body{
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height:500px;
    background-color: aquamarine;
    text-align: center;
    box-shadow: 0px 1px 12px aquamarine;
    border-radius: 10px;
}

.field-section{
    width: 350px;
    height: 200px;
    border:1px solid chocolate;
    padding: 5px;
    margin-top: 50px;
}
.select-currecy{
    margin: 20px;
}
legend{
    color: black;
    text-align: left;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#input{
    border: 1px solid rgb(105, 137, 239);
    background-color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}

#input:focus{
    outline: none;
}
#button{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    background-color: chocolate;
    color: white;
}

/* .button-reset{
    margin: 10px;
    width: 50px;
    height: 25px;
    border: none;
    border-radius: 5px;
} */