body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* padding: 50px; */
}
.container{
    width: 50%;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgb(136, 135, 135);
}
h1{
    text-align: center;
    padding: 10px;
}
p{
    text-align: center;
}

.guessForm{
    display: flex;
    justify-content: center;
}


.guess-wrong{
    color: red;
}
.guess-right{
    color: white;
    background-color: green;
}

.reset-button{
    padding: 5px;
    margin-left: 240px;
    width: 200px;
    height: 30px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
}